server:
  port: 49999

spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: false
    gateway:
      routes:
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**, /api/tables/**, /api/employees/**
        - id: kitchen-service
          uri: lb://kitchen-service
          predicates:
            - Path=/api/kitchen/**
        - id: menu-service
          uri: lb://menu-service
          predicates:
            - Path=/api/menu/**, /api/dishes/**, /api/categories/**
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/api/inventory/**, /api/ingredients/**, /api/suppliers/**
        - id: billing-service
          uri: lb://billing-service
          predicates:
            - Path=/api/bills/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
