server:
  port: ${SERVER_PORT:8888}

spring:
  application:
    name: config-server
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:git}
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_REPO_URI:file://C:/Users/Kuchizu/Desktop/configs-repo}
          default-label: master
          clone-on-start: true
          timeout: 5
          search-paths:
            - '{application}'
        native:
          search-locations: ${CONFIG_SEARCH_LOCATIONS:classpath:/config}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
