server:
  port: ${SERVER_PORT:8888}

spring:
  application:
    name: config-server
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:native}
  cloud:
    config:
      server:
        # Native profile for local development (uses local filesystem)
        native:
          search-locations: file:///${CONFIG_REPO_PATH:C:/Users/Kuchizu/Desktop/configs-repo},{application}
        # Git profile for production
        git:
          uri: ${CONFIG_REPO_URI:https://github.com/Kuchizu/Restaurant-management-configs}
          default-label: master
          clone-on-start: true
          timeout: 10
          search-paths:
            - '{application}'
          skip-ssl-validation: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
