# Shared configuration for all services
spring:
  jpa:
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

eureka:
  instance:
    preferIpAddress: true
